<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="photo">
            <h2><span jhiTranslate="afaleApp.photo.detail.title">Photo</span> {{ photo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="afaleApp.photo.name" [ngbTooltip]="'afaleApp.photo.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{ photo.name }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.photo.housingTemplateId">Housing Template Id</span></dt>
                <dd>
                    <div *ngIf="photo.housingTemplateId">
                        <a [routerLink]="['/housing-template', photo.housingTemplateId?.id, 'view']">{{ photo.housingTemplateId?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="afaleApp.photo.establishmentId">Establishment Id</span></dt>
                <dd>
                    <div *ngIf="photo.establishmentId">
                        <a [routerLink]="['/establishment', photo.establishmentId?.id, 'view']">{{ photo.establishmentId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/photo', photo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
