<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-photo-heading" jhiTranslate="afaleApp.photo.home.createOrEditLabel">Create or edit a Photo</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.photo.name" for="field_name" [ngbTooltip]="'afaleApp.photo.help.name' | translate">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.photo.housingTemplateId" for="field_housingTemplateId">Housing Template Id</label>
                    <select class="form-control" id="field_housingTemplateId" name="housingTemplateId" formControlName="housingTemplateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="housingTemplateOption.id === editForm.get('housingTemplateId')!.value?.id ? editForm.get('housingTemplateId')!.value : housingTemplateOption" *ngFor="let housingTemplateOption of housingtemplates; trackBy: trackById">{{ housingTemplateOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.photo.establishmentId" for="field_establishmentId">Establishment Id</label>
                    <select class="form-control" id="field_establishmentId" name="establishmentId" formControlName="establishmentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="establishmentOption.id === editForm.get('establishmentId')!.value?.id ? editForm.get('establishmentId')!.value : establishmentOption" *ngFor="let establishmentOption of establishments; trackBy: trackById">{{ establishmentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
