<div>
    <h2 id="page-heading">
        <span jhiTranslate="afaleApp.photo.home.title">Photos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-photo" [routerLink]="['/photo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="afaleApp.photo.home.createLabel">
            Create a new Photo
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'afaleApp.photo.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="photos?.length === 0">
        <span jhiTranslate="afaleApp.photo.home.notFound">No photos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="photos && photos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.photo.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.photo.housingTemplateId">Housing Template Id</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.photo.establishmentId">Establishment Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let photo of photos ;trackBy: trackId">
                    <td><a [routerLink]="['/photo', photo.id, 'view']">{{ photo.id }}</a></td>
                    <td>{{ photo.name }}</td>
                    <td>
                        <div *ngIf="photo.housingTemplateId">
                            <a [routerLink]="['/housing-template', photo.housingTemplateId?.id, 'view']" >{{ photo.housingTemplateId?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="photo.establishmentId">
                            <a [routerLink]="['/establishment', photo.establishmentId?.id, 'view']" >{{ photo.establishmentId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/photo', photo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/photo', photo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(photo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
