<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="booking">
            <h2><span jhiTranslate="afaleApp.booking.detail.title">Booking</span> {{ booking.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="afaleApp.booking.email">Email</span></dt>
                <dd>
                    <span>{{ booking.email }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.booking.totalPrice" [ngbTooltip]="'afaleApp.booking.help.totalPrice' | translate">Total Price</span></dt>
                <dd>
                    <span>{{ booking.totalPrice }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.booking.comment">Comment</span></dt>
                <dd>
                    <span>{{ booking.comment }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.booking.validate">Validate</span></dt>
                <dd>
                    <span>{{ booking.validate }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.booking.jhiUserId">Jhi User Id</span></dt>
                <dd>
                    {{ booking.jhiUserId?.id }}
                </dd>
                <dt><span jhiTranslate="afaleApp.booking.establishmentId">Establishment Id</span></dt>
                <dd>
                    <div *ngIf="booking.establishmentId">
                        <a [routerLink]="['/establishment', booking.establishmentId?.id, 'view']">{{ booking.establishmentId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/booking', booking.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
