<div>
    <h2 id="page-heading">
        <span jhiTranslate="afaleApp.establishmentClosure.home.title">Establishment Closures</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-establishment-closure" [routerLink]="['/establishment-closure/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="afaleApp.establishmentClosure.home.createLabel">
            Create a new Establishment Closure
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'afaleApp.establishmentClosure.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="establishmentClosures?.length === 0">
        <span jhiTranslate="afaleApp.establishmentClosure.home.notFound">No establishmentClosures found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="establishmentClosures && establishmentClosures.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.establishmentClosure.startDate">Start Date</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.establishmentClosure.endDate">End Date</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.establishmentClosure.cause">Cause</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.establishmentClosure.establishmentId">Establishment Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let establishmentClosure of establishmentClosures ;trackBy: trackId">
                    <td><a [routerLink]="['/establishment-closure', establishmentClosure.id, 'view']">{{ establishmentClosure.id }}</a></td>
                    <td>{{ establishmentClosure.startDate | date:'mediumDate' }}</td>
                    <td>{{ establishmentClosure.endDate | date:'mediumDate' }}</td>
                    <td>{{ establishmentClosure.cause }}</td>
                    <td>
                        <div *ngIf="establishmentClosure.establishmentId">
                            <a [routerLink]="['/establishment', establishmentClosure.establishmentId?.id, 'view']" >{{ establishmentClosure.establishmentId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/establishment-closure', establishmentClosure.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/establishment-closure', establishmentClosure.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(establishmentClosure)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
