<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="establishmentClosure">
            <h2><span jhiTranslate="afaleApp.establishmentClosure.detail.title">Establishment Closure</span> {{ establishmentClosure.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="afaleApp.establishmentClosure.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ establishmentClosure.startDate }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.establishmentClosure.endDate">End Date</span></dt>
                <dd>
                    <span>{{ establishmentClosure.endDate }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.establishmentClosure.cause">Cause</span></dt>
                <dd>
                    <span>{{ establishmentClosure.cause }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.establishmentClosure.establishmentId">Establishment Id</span></dt>
                <dd>
                    <div *ngIf="establishmentClosure.establishmentId">
                        <a [routerLink]="['/establishment', establishmentClosure.establishmentId?.id, 'view']">{{ establishmentClosure.establishmentId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/establishment-closure', establishmentClosure.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
