<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-rating-heading" jhiTranslate="afaleApp.rating.home.createOrEditLabel">Create or edit a Rating</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.rating.rate" for="field_rate" [ngbTooltip]="'afaleApp.rating.help.rate' | translate">Rate</label>
                    <input type="number" class="form-control" name="rate" id="field_rate"
                           formControlName="rate"/>
                    <div *ngIf="editForm.get('rate')!.invalid && (editForm.get('rate')!.dirty || editForm.get('rate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rate')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rate')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 5.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('rate')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.rating.comment" for="field_comment" [ngbTooltip]="'afaleApp.rating.help.comment' | translate">Comment</label>
                    <input type="text" class="form-control" name="comment" id="field_comment"
                           formControlName="comment"/>
                    <div *ngIf="editForm.get('comment')!.invalid && (editForm.get('comment')!.dirty || editForm.get('comment')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('comment')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 250 }">
                        This field cannot be longer than 250 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.rating.ratingDate" for="field_ratingDate" [ngbTooltip]="'afaleApp.rating.help.ratingDate' | translate">Rating Date</label>
                    <div class="input-group">
                        <input id="field_ratingDate" type="text" class="form-control" name="ratingDate" ngbDatepicker #ratingDateDp="ngbDatepicker" formControlName="ratingDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="ratingDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('ratingDate')!.invalid && (editForm.get('ratingDate')!.dirty || editForm.get('ratingDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ratingDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.rating.userId" for="field_userId">User Id</label>
                    <select class="form-control" id="field_userId" name="userId" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('userId')!.value?.id ? editForm.get('userId')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.rating.establishmentId" for="field_establishmentId">Establishment Id</label>
                    <select class="form-control" id="field_establishmentId" name="establishmentId" formControlName="establishmentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="establishmentOption.id === editForm.get('establishmentId')!.value?.id ? editForm.get('establishmentId')!.value : establishmentOption" *ngFor="let establishmentOption of establishments; trackBy: trackById">{{ establishmentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
