<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rating">
            <h2><span jhiTranslate="afaleApp.rating.detail.title">Rating</span> {{ rating.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="afaleApp.rating.rate" [ngbTooltip]="'afaleApp.rating.help.rate' | translate">Rate</span></dt>
                <dd>
                    <span>{{ rating.rate }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.rating.comment" [ngbTooltip]="'afaleApp.rating.help.comment' | translate">Comment</span></dt>
                <dd>
                    <span>{{ rating.comment }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.rating.ratingDate" [ngbTooltip]="'afaleApp.rating.help.ratingDate' | translate">Rating Date</span></dt>
                <dd>
                    <span>{{ rating.ratingDate }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.rating.userId">User Id</span></dt>
                <dd>
                    {{ rating.userId?.id }}
                </dd>
                <dt><span jhiTranslate="afaleApp.rating.establishmentId">Establishment Id</span></dt>
                <dd>
                    <div *ngIf="rating.establishmentId">
                        <a [routerLink]="['/establishment', rating.establishmentId?.id, 'view']">{{ rating.establishmentId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rating', rating.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
