<h1 jhiTranslate="billing.title">Order summary</h1>
<h2 jhiTranslate="billing.order">You order the following booking :</h2>
<table>
    <tr>
        <th>
            <span jhiTranslate="billing.booking">Your bookings</span>
        </th>
        <th>
            <span jhiTranslate="billing.startDate">Starting date</span>
        </th>
        <th>
            <span jhiTranslate="billing.endDate">Ending date</span>
        </th>
        <th>
            <span jhiTranslate="billing.unitPrice">Unit Price</span>
        </th>

    </tr>

    <tr *ngFor="let bookingElement of bookingElements ;">
        <td><a [routerLink]="['/booking-element', bookingElement.id, 'view']">{{ bookingElement.id }}</a></td>
        <td>{{ bookingElement.startDate | date:'mediumDate' }}</td>
         <td>{{ bookingElement.endDate | date:'mediumDate' }}</td>
         <td>{{ bookingElement.elementPrice }}</td>
     </tr>
 </table>

<a class="nav-link" routerLink="/">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="billing.buttonHome">Return to home</span>
                    </span>
</a>

<a class="nav-link" routerLink="/">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="billing.buttonPrint">Print</span>
                    </span>
</a>


