<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="containsBathRooms">
            <h2><span jhiTranslate="afaleApp.containsBathRooms.detail.title">Contains Bath Rooms</span> {{ containsBathRooms.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="afaleApp.containsBathRooms.nbOfUnit" [ngbTooltip]="'afaleApp.containsBathRooms.help.nbOfUnit' | translate">Nb Of Unit</span></dt>
                <dd>
                    <span>{{ containsBathRooms.nbOfUnit }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.containsBathRooms.housingTemplateId">Housing Template Id</span></dt>
                <dd>
                    <div *ngIf="containsBathRooms.housingTemplateId">
                        <a [routerLink]="['/housing-template', containsBathRooms.housingTemplateId?.id, 'view']">{{ containsBathRooms.housingTemplateId?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="afaleApp.containsBathRooms.bathroomTemplateId">Bathroom Template Id</span></dt>
                <dd>
                    <div *ngIf="containsBathRooms.bathroomTemplateId">
                        <a [routerLink]="['/bath-room-template', containsBathRooms.bathroomTemplateId?.id, 'view']">{{ containsBathRooms.bathroomTemplateId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contains-bath-rooms', containsBathRooms.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
