<div>
    <h2 id="page-heading">
        <span jhiTranslate="afaleApp.containsBathRooms.home.title">Contains Bath Rooms</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contains-bath-rooms" [routerLink]="['/contains-bath-rooms/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="afaleApp.containsBathRooms.home.createLabel">
            Create a new Contains Bath Rooms
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'afaleApp.containsBathRooms.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="containsBathRooms?.length === 0">
        <span jhiTranslate="afaleApp.containsBathRooms.home.notFound">No containsBathRooms found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="containsBathRooms && containsBathRooms.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.containsBathRooms.nbOfUnit">Nb Of Unit</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.containsBathRooms.housingTemplateId">Housing Template Id</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.containsBathRooms.bathroomTemplateId">Bathroom Template Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let containsBathRooms of containsBathRooms ;trackBy: trackId">
                    <td><a [routerLink]="['/contains-bath-rooms', containsBathRooms.id, 'view']">{{ containsBathRooms.id }}</a></td>
                    <td>{{ containsBathRooms.nbOfUnit }}</td>
                    <td>
                        <div *ngIf="containsBathRooms.housingTemplateId">
                            <a [routerLink]="['/housing-template', containsBathRooms.housingTemplateId?.id, 'view']" >{{ containsBathRooms.housingTemplateId?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="containsBathRooms.bathroomTemplateId">
                            <a [routerLink]="['/bath-room-template', containsBathRooms.bathroomTemplateId?.id, 'view']" >{{ containsBathRooms.bathroomTemplateId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contains-bath-rooms', containsBathRooms.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contains-bath-rooms', containsBathRooms.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(containsBathRooms)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
