<!-- Ce composant affiche toutes les informations relative à un logement -->
<!-- Il appartient à l'espace de comparaison des logements -->

<div class="info" *ngIf="housingTemplate !== undefined" [ngStyle]="{ backgroundColor : getcolor()}" (click)="switchSelection()" >
    <!--div jhiTranslate="{{ 'afaleApp.HousingType.' + housingTemplate.housingType }}">{{ housingTemplate.housingType }}</div-->
    <!-- afficher le logo lit double ou lit simple, avec leur nombre respectif -->
        <div *ngIf="bedroomsContained && bedroomsContained.length>0">
            <div *ngFor="let bedroom of bedroomsContained">
                <p *ngIf="bedroom.bedroomTemplateId && bedroom.bedroomTemplateId.nbSingleBeds">{{bedroom.bedroomTemplateId.nbSingleBeds}}x <a id="lit1"></a> </p>
                <p *ngIf="bedroom.bedroomTemplateId && bedroom.bedroomTemplateId.nbDoubleBeds">{{bedroom.bedroomTemplateId.nbDoubleBeds}}x <a id="lit2"></a></p>
            </div>
        </div>
    <div class="services">
        <!-- afficher le logo Fumeur ou non fumeur -->
        <div *ngIf="housingTemplate.isNonSmoking"><a id="nonfumeur"></a></div>
        <div *ngIf="!housingTemplate.isNonSmoking"><a id="fumeur"></a></div>


        <!-- afficher le logo cuisine si nécessaire -->
        <div *ngIf="housingTemplate.hasKitchen"><a id="cuisine"></a></div>
    </div>

    <div class="add">
        <div>
            <input type="checkbox" id="no" name="serv"
                   disabled>
            <label for="no">Petit déjeuner</label>
        </div>
    </div>

    <div class="price">Prix par nuit :{{ housingTemplate.pricePerNight }}
        <div *ngIf="this.selectedEstablishmentService.housingTemplateListNb && this.selectedEstablishmentService.housingTemplateListSelected && this.selectedEstablishmentService.housingTemplateListSelected[this.index] && housingTemplate !== undefined">
            <button (click)="decreaseNbSelected()"> - </button>{{this.selectedEstablishmentService.housingTemplateListNb[this.index]}}<button (click)="increaseNbSelected()"> + </button>
        </div>
    </div>
</div>
<hr>
