.info {
  margin: 0px;
  padding: 5px;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.info:hover {
  background-color: #bfe2f3;
}

.bed {
  grid-column: 1/2;
}

.services {
  grid-column: 2/3;
}

.add {
  grid-column: 3/4;
}

.bed,
.services,
.add,
.price {
  //justify-self: stretch;
  padding: 5px;
}

.price {
  grid-column: 4/5;
}

.logo {
  width: 30px;
  height: 30px;
}

#restaurant,
#cuisine,
#lit1,
#lit2,
#fumeur,
#wifi,
#parking,
#wc,
#piscine,
#nonfumeur {
  width: 30px;
  height: 30px;
  display: inline-block;
}

#restaurant {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: 0px 0px;
}

#lit1 {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -30px 0px;
}

#lit2 {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -60px 0px;
}

#fumeur {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -90px 0px;
}

#nonfumeur {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -120px 0px;
}

#wc {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -150px 0px;
}

#cuisine {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -180px 0px;
}

#piscine {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -210px 0px;
}

#wifi {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -240px 0px;
}

#parking {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -270px 0px;
}
