<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bath-room-template-heading" jhiTranslate="afaleApp.bathRoomTemplate.home.createOrEditLabel">Create or edit a Bath Room Template</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.bathRoomTemplate.hasBath" for="field_hasBath" [ngbTooltip]="'afaleApp.bathRoomTemplate.help.hasBath' | translate">Has Bath</label>
                    <input type="checkbox" class="form-control" name="hasBath" id="field_hasBath"
                           formControlName="hasBath"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.bathRoomTemplate.hasToilet" for="field_hasToilet" [ngbTooltip]="'afaleApp.bathRoomTemplate.help.hasToilet' | translate">Has Toilet</label>
                    <input type="checkbox" class="form-control" name="hasToilet" id="field_hasToilet"
                           formControlName="hasToilet"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.bathRoomTemplate.hasShower" for="field_hasShower" [ngbTooltip]="'afaleApp.bathRoomTemplate.help.hasShower' | translate">Has Shower</label>
                    <input type="checkbox" class="form-control" name="hasShower" id="field_hasShower"
                           formControlName="hasShower"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
