<div>
    <h2 id="page-heading">
        <span jhiTranslate="afaleApp.bathRoomTemplate.home.title">Bath Room Templates</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bath-room-template" [routerLink]="['/bath-room-template/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="afaleApp.bathRoomTemplate.home.createLabel">
            Create a new Bath Room Template
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'afaleApp.bathRoomTemplate.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="bathRoomTemplates?.length === 0">
        <span jhiTranslate="afaleApp.bathRoomTemplate.home.notFound">No bathRoomTemplates found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bathRoomTemplates && bathRoomTemplates.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.bathRoomTemplate.hasBath">Has Bath</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.bathRoomTemplate.hasToilet">Has Toilet</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.bathRoomTemplate.hasShower">Has Shower</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bathRoomTemplate of bathRoomTemplates ;trackBy: trackId">
                    <td><a [routerLink]="['/bath-room-template', bathRoomTemplate.id, 'view']">{{ bathRoomTemplate.id }}</a></td>
                    <td>{{ bathRoomTemplate.hasBath }}</td>
                    <td>{{ bathRoomTemplate.hasToilet }}</td>
                    <td>{{ bathRoomTemplate.hasShower }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bath-room-template', bathRoomTemplate.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bath-room-template', bathRoomTemplate.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bathRoomTemplate)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
