<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bathRoomTemplate">
            <h2><span jhiTranslate="afaleApp.bathRoomTemplate.detail.title">Bath Room Template</span> {{ bathRoomTemplate.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="afaleApp.bathRoomTemplate.hasBath" [ngbTooltip]="'afaleApp.bathRoomTemplate.help.hasBath' | translate">Has Bath</span></dt>
                <dd>
                    <span>{{ bathRoomTemplate.hasBath }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.bathRoomTemplate.hasToilet" [ngbTooltip]="'afaleApp.bathRoomTemplate.help.hasToilet' | translate">Has Toilet</span></dt>
                <dd>
                    <span>{{ bathRoomTemplate.hasToilet }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.bathRoomTemplate.hasShower" [ngbTooltip]="'afaleApp.bathRoomTemplate.help.hasShower' | translate">Has Shower</span></dt>
                <dd>
                    <span>{{ bathRoomTemplate.hasShower }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bath-room-template', bathRoomTemplate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
