

<div class="res" *ngFor="let singleHousingTemplate of housingTemplateList;let i = index">
    <!--jhi-single-housing-template style="width: 250px"></jhi-single-housing-template-->
    <p style="border: 2px solid black;">Etabl. {{singleHousingTemplate.establishmentId}} + HT. {{singleHousingTemplate.id}}</p>
</div>
