<table class="container">
    <tr>
        <td>
            <div>
                <jhi-login-page></jhi-login-page>
            </div>
        </td>
        <td>
            <div>
                <jhi-register></jhi-register>
            </div>
        </td>
    </tr>
</table>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
