<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bookingElement">
            <h2><span jhiTranslate="afaleApp.bookingElement.detail.title">Booking Element</span> {{ bookingElement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="afaleApp.bookingElement.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ bookingElement.startDate }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.bookingElement.endDate">End Date</span></dt>
                <dd>
                    <span>{{ bookingElement.endDate }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.bookingElement.elementPrice" [ngbTooltip]="'afaleApp.bookingElement.help.elementPrice' | translate">Element Price</span></dt>
                <dd>
                    <span>{{ bookingElement.elementPrice }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.bookingElement.bookingId">Booking Id</span></dt>
                <dd>
                    <div *ngIf="bookingElement.bookingId">
                        <a [routerLink]="['/booking', bookingElement.bookingId?.id, 'view']">{{ bookingElement.bookingId?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="afaleApp.bookingElement.housingTemplateId">Housing Template Id</span></dt>
                <dd>
                    <div *ngIf="bookingElement.housingTemplateId">
                        <a [routerLink]="['/housing-template', bookingElement.housingTemplateId?.id, 'view']">{{ bookingElement.housingTemplateId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/booking-element', bookingElement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
