<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-booking-element-heading" jhiTranslate="afaleApp.bookingElement.home.createOrEditLabel">Create or edit a Booking Element</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.bookingElement.startDate" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker #startDateDp="ngbDatepicker" formControlName="startDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('startDate')!.invalid && (editForm.get('startDate')!.dirty || editForm.get('startDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.bookingElement.endDate" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker #endDateDp="ngbDatepicker" formControlName="endDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('endDate')!.invalid && (editForm.get('endDate')!.dirty || editForm.get('endDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.bookingElement.elementPrice" for="field_elementPrice" [ngbTooltip]="'afaleApp.bookingElement.help.elementPrice' | translate">Element Price</label>
                    <input type="number" class="form-control" name="elementPrice" id="field_elementPrice"
                           formControlName="elementPrice"/>
                    <div *ngIf="editForm.get('elementPrice')!.invalid && (editForm.get('elementPrice')!.dirty || editForm.get('elementPrice')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('elementPrice')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('elementPrice')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.bookingElement.bookingId" for="field_bookingId">Booking Id</label>
                    <select class="form-control" id="field_bookingId" name="bookingId" formControlName="bookingId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bookingOption.id === editForm.get('bookingId')!.value?.id ? editForm.get('bookingId')!.value : bookingOption" *ngFor="let bookingOption of bookings; trackBy: trackById">{{ bookingOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.bookingElement.housingTemplateId" for="field_housingTemplateId">Housing Template Id</label>
                    <select class="form-control" id="field_housingTemplateId" name="housingTemplateId" formControlName="housingTemplateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="housingTemplateOption.id === editForm.get('housingTemplateId')!.value?.id ? editForm.get('housingTemplateId')!.value : housingTemplateOption" *ngFor="let housingTemplateOption of housingtemplates; trackBy: trackById">{{ housingTemplateOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
