<div>
    <h2 id="page-heading">
        <span jhiTranslate="afaleApp.bookingElement.home.title">Booking Elements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-booking-element" [routerLink]="['/booking-element/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="afaleApp.bookingElement.home.createLabel">
            Create a new Booking Element
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'afaleApp.bookingElement.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="bookingElements?.length === 0">
        <span jhiTranslate="afaleApp.bookingElement.home.notFound">No bookingElements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bookingElements && bookingElements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.bookingElement.startDate">Start Date</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.bookingElement.endDate">End Date</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.bookingElement.elementPrice">Element Price</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.bookingElement.bookingId">Booking Id</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.bookingElement.housingTemplateId">Housing Template Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bookingElement of bookingElements ;trackBy: trackId">
                    <td><a [routerLink]="['/booking-element', bookingElement.id, 'view']">{{ bookingElement.id }}</a></td>
                    <td>{{ bookingElement.startDate | date:'mediumDate' }}</td>
                    <td>{{ bookingElement.endDate | date:'mediumDate' }}</td>
                    <td>{{ bookingElement.elementPrice }}</td>
                    <td>
                        <div *ngIf="bookingElement.bookingId">
                            <a [routerLink]="['/booking', bookingElement.bookingId?.id, 'view']" >{{ bookingElement.bookingId?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="bookingElement.housingTemplateId">
                            <a [routerLink]="['/housing-template', bookingElement.housingTemplateId?.id, 'view']" >{{ bookingElement.housingTemplateId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/booking-element', bookingElement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/booking-element', bookingElement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bookingElement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
