<div>
    <h2 id="page-heading">
        <span jhiTranslate="afaleApp.housingClosure.home.title">Housing Closures</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-housing-closure" [routerLink]="['/housing-closure/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="afaleApp.housingClosure.home.createLabel">
            Create a new Housing Closure
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'afaleApp.housingClosure.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="housingClosures?.length === 0">
        <span jhiTranslate="afaleApp.housingClosure.home.notFound">No housingClosures found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="housingClosures && housingClosures.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.housingClosure.startDate">Start Date</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.housingClosure.endDate">End Date</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.housingClosure.cause">Cause</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.housingClosure.establishmentId">Establishment Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let housingClosure of housingClosures ;trackBy: trackId">
                    <td><a [routerLink]="['/housing-closure', housingClosure.id, 'view']">{{ housingClosure.id }}</a></td>
                    <td>{{ housingClosure.startDate | date:'mediumDate' }}</td>
                    <td>{{ housingClosure.endDate | date:'mediumDate' }}</td>
                    <td>{{ housingClosure.cause }}</td>
                    <td>
                        <div *ngIf="housingClosure.establishmentId">
                            <a [routerLink]="['/housing-template', housingClosure.establishmentId?.id, 'view']" >{{ housingClosure.establishmentId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/housing-closure', housingClosure.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/housing-closure', housingClosure.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(housingClosure)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
