<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="housingClosure">
            <h2><span jhiTranslate="afaleApp.housingClosure.detail.title">Housing Closure</span> {{ housingClosure.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="afaleApp.housingClosure.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ housingClosure.startDate }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.housingClosure.endDate">End Date</span></dt>
                <dd>
                    <span>{{ housingClosure.endDate }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.housingClosure.cause">Cause</span></dt>
                <dd>
                    <span>{{ housingClosure.cause }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.housingClosure.establishmentId">Establishment Id</span></dt>
                <dd>
                    <div *ngIf="housingClosure.establishmentId">
                        <a [routerLink]="['/housing-template', housingClosure.establishmentId?.id, 'view']">{{ housingClosure.establishmentId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/housing-closure', housingClosure.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
