<jhi-page-ribbon class="ribbon"></jhi-page-ribbon>

<div>
    <jhi-navbar></jhi-navbar>
</div>

<div class="main">
    <div id="grid">
        <router-outlet></router-outlet>
        <!--div id="currentbooking">
            <jhi-current-booking></jhi-current-booking>
        </div-->
    </div>

</div>



<!--div class="footer">
    <jhi-footer></jhi-footer>
</div-->




