<!-- Ce composant affiche tous les établissements disponibles en une liste -->
<!-- Il appartient à l'espace de comparaison d'établissement -->

<div class="border" *ngIf="establishments && establishments.content !== undefined && establishments.content.length > 0">
    <div id="entities">
        <caption>Etablissement(s)</caption>
        <div class="est" *ngFor="let establishment of establishments.content" routerLink="viewSelectedEstablishment/{{establishment.id}}">
            <jhi-establishment-list-element class="ht" [establishment]="establishment"></jhi-establishment-list-element>
        </div>
    </div>
    <div class="pages">
        <div *ngIf="!establishments.first"><button (click)="loadFirst()"> premiere</button></div>
        <div *ngIf="!establishments.first"><button (click)="loadPrevious()"> precedent</button></div>
        <div *ngIf="!establishments.last"><button (click)="loadNext()"> suivant</button></div>
        <div *ngIf="!establishments.last"><button (click)="loadLast()"> derniere</button></div>



    </div>

    <div (click)="switch(2)" *ngIf="!establishments.first"><button> 2</button></div>
    <div (click)="switch(5)" *ngIf="!establishments.first"><button> 5</button></div>

</div>
