.est:nth-child(even) {
  background-color: #cedbef;
}

.est:nth-child(odd) {
  background-color: #d8e3f2;
}

.est {
  //border-style: solid;
  border-width: 1px;
  //padding: 10px;
  //display: block;
  //height: max-content;
  //position: static;
}

.est:hover {
  border: 2px solid black;
}

#entities {
  display: grid;
  height: max-content;
  width: 100%;
  grid-template-row: auto;
}

.ht {
  height: max-content;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

table {
  padding: 10px;
  display: block;
}

caption {
  //color: #faf5e4;
  font-size: 31px;
  font-weight: 600;
  line-height: 35px;
}

jhi-establishment-list-element {
  width: 100%;
  height: 100%;
  display: block;
}

.border {
  border: 1px solid #7ec699;
}

.pages {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  margin: 20px;
}
