<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="favorites">
            <h2><span jhiTranslate="afaleApp.favorites.detail.title">Favorites</span> {{ favorites.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="afaleApp.favorites.userId">User Id</span></dt>
                <dd>
                    {{ favorites.userId?.id }}
                </dd>
                <dt><span jhiTranslate="afaleApp.favorites.establishmentId">Establishment Id</span></dt>
                <dd>
                    <div *ngIf="favorites.establishmentId">
                        <a [routerLink]="['/establishment', favorites.establishmentId?.id, 'view']">{{ favorites.establishmentId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/favorites', favorites.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
