<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-favorites-heading" jhiTranslate="afaleApp.favorites.home.createOrEditLabel">Create or edit a Favorites</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.favorites.userId" for="field_userId">User Id</label>
                    <select class="form-control" id="field_userId" name="userId" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('userId')!.value?.id ? editForm.get('userId')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.favorites.establishmentId" for="field_establishmentId">Establishment Id</label>
                    <select class="form-control" id="field_establishmentId" name="establishmentId" formControlName="establishmentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="establishmentOption.id === editForm.get('establishmentId')!.value?.id ? editForm.get('establishmentId')!.value : establishmentOption" *ngFor="let establishmentOption of establishments; trackBy: trackById">{{ establishmentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
