<div>
    <h2 id="page-heading">
        <span jhiTranslate="afaleApp.favorites.home.title">Favorites</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-favorites" [routerLink]="['/favorites/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="afaleApp.favorites.home.createLabel">
            Create a new Favorites
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'afaleApp.favorites.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="favorites?.length === 0">
        <span jhiTranslate="afaleApp.favorites.home.notFound">No favorites found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="favorites && favorites.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.favorites.userId">User Id</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.favorites.establishmentId">Establishment Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let favorites of favorites ;trackBy: trackId">
                    <td><a [routerLink]="['/favorites', favorites.id, 'view']">{{ favorites.id }}</a></td>
                    <td>
                        {{ favorites.userId?.id }}
                    </td>
                    <td>
                        <div *ngIf="favorites.establishmentId">
                            <a [routerLink]="['/establishment', favorites.establishmentId?.id, 'view']" >{{ favorites.establishmentId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/favorites', favorites.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/favorites', favorites.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(favorites)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
