.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.ng-dirty.alert-danger {
  border-left: 5px solid #a94442;
}

img {
  width: 100px;
  height: 100px;
}

#restaurant,
#cuisine,
#lit1,
#lit2,
#fumeur,
#wifi,
#parking,
#wc,
#piscine,
#nonfumeur {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
}

#restaurant {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: 0px 0px;
}

#lit1 {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -30px 0px;
  right: 1100px;
}

#lit2 {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -60px 0px;
  right: 1200px;
}

#fumeur {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -90px 0px;
  right: 1300px;
}

#nonfumeur {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -120px 0px;
  right: 1400px;
}

#wc {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -150px 0px;
  left: 900px;
}

#cuisine {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -180px 0px;
  left: 1000px;
}

#piscine {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -210px 0px;
  left: 1050px;
}

#wifi {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -240px 0px;
  left: 1100px;
}

#parking {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -270px 0px;
  left: 1150px;
}
