
<div class="container" style="margin: 0 auto">
    <h1 style="text-align: center">Paiement</h1>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <table cellspacing="50" cellpadding="60">
            <tr>
                <td>
                    <img src="http://89.3.69.138:8085/cb.png" alt="" />
                </td>
                <td>

                    <div class="form-group">
                        <label for="cardNumber">Numero de carte</label>
                        <input type="number" class="form-control" id="cardNumber" appCardnumberValidator
                               placeholder ="**** **** **** ****"
                               required ngModel
                               [(ngModel)]="model.cardNumber" name="cardNumber"
                               #cardNumber="ngModel">
                        <div *ngIf="cardNumber.invalid && (month.dirty || month.touched)"
                             class="alert alert-danger">
                            La valeur du Numéro de Carte est fausse
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cvc">CVC</label>
                        <input type="number" class="form-control" id="cvc"
                               required  oninput="validity.valid||(value='');"
                               [(ngModel)]="model.cvc" name="cvc" placeholder="***"
                               #cvc="ngModel">

                        <div *ngIf="cvc.dirty && (model.cvc+'').length !== 3 " class="alert alert-danger">
                            La valeur de CVC est fausse
                        </div>
                    </div>


                    <div class="d-flex">
                        <div class="form-group" style="margin-right: 5px">
                            <label for="month">Mois</label>
                            <select id="month" class="form-control" name="month" required
                                    [(ngModel)]="model.month" name="month" #month="ngModel" >
                                <option value="jan">01 - January</option>
                                <option value="feb">02 - February</option>
                                <option value="mar">03 - March</option>
                                <option value="apr">04 - April</option>
                                <option value="may">05 - May</option>
                                <option value="june">06 - June</option>
                                <option value="july">07 - July</option>
                                <option value="aug">08 - August</option>
                                <option value="sep">09 - September</option>
                                <option value="oct">10 - October</option>
                                <option value="nov">11 - November</option>
                                <option value="dec">12 - December</option>
                            </select>
                            <div *ngIf="month.invalid && (month.dirty || month.touched)"
                                 class="alert alert-danger">
                                La valeur du Mois est fausse
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="year">Année</label>
                            <input type="number" class="form-control" id="year"
                                   required oninput="validity.valid||(value='');"
                                   [(ngModel)]="model.year" name="year"
                                   #year="ngModel" placeholder="AA">
                            <div *ngIf="year.dirty && (model.year+'').length !== 2 "
                                 class="alert alert-danger">
                                La valeur de l'année est fausse
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name">Titulaire</label>
                        <input type="text" class="form-control" id="name"
                               [(ngModel)]="model.name" name="name"
                               #name="ngModel">
                        <div *ngIf="name.invalid" class="alert alert-danger">
                            La valeur de Titulaire est fausse
                        </div>
                    </div>

        <button class="btn btn-primary" type="submit" [disabled]="f.invalid" routerLink="/billing/{{this.selectedEstablishmentService?.booking?.id}}" (click)="validate()" >Pay</button>
    </form>

</div>







