<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-contains-bed-rooms-heading" jhiTranslate="afaleApp.containsBedRooms.home.createOrEditLabel">Create or edit a Contains Bed Rooms</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.containsBedRooms.nbOfUnit" for="field_nbOfUnit" [ngbTooltip]="'afaleApp.containsBedRooms.help.nbOfUnit' | translate">Nb Of Unit</label>
                    <input type="number" class="form-control" name="nbOfUnit" id="field_nbOfUnit"
                           formControlName="nbOfUnit"/>
                    <div *ngIf="editForm.get('nbOfUnit')!.invalid && (editForm.get('nbOfUnit')!.dirty || editForm.get('nbOfUnit')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nbOfUnit')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nbOfUnit')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('nbOfUnit')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.containsBedRooms.housingTemplateId" for="field_housingTemplateId">Housing Template Id</label>
                    <select class="form-control" id="field_housingTemplateId" name="housingTemplateId" formControlName="housingTemplateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="housingTemplateOption.id === editForm.get('housingTemplateId')!.value?.id ? editForm.get('housingTemplateId')!.value : housingTemplateOption" *ngFor="let housingTemplateOption of housingtemplates; trackBy: trackById">{{ housingTemplateOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.containsBedRooms.bedroomTemplateId" for="field_bedroomTemplateId">Bedroom Template Id</label>
                    <select class="form-control" id="field_bedroomTemplateId" name="bedroomTemplateId" formControlName="bedroomTemplateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bedRoomTemplateOption.id === editForm.get('bedroomTemplateId')!.value?.id ? editForm.get('bedroomTemplateId')!.value : bedRoomTemplateOption" *ngFor="let bedRoomTemplateOption of bedroomtemplates; trackBy: trackById">{{ bedRoomTemplateOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
