<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="containsBedRooms">
            <h2><span jhiTranslate="afaleApp.containsBedRooms.detail.title">Contains Bed Rooms</span> {{ containsBedRooms.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="afaleApp.containsBedRooms.nbOfUnit" [ngbTooltip]="'afaleApp.containsBedRooms.help.nbOfUnit' | translate">Nb Of Unit</span></dt>
                <dd>
                    <span>{{ containsBedRooms.nbOfUnit }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.containsBedRooms.housingTemplateId">Housing Template Id</span></dt>
                <dd>
                    <div *ngIf="containsBedRooms.housingTemplateId">
                        <a [routerLink]="['/housing-template', containsBedRooms.housingTemplateId?.id, 'view']">{{ containsBedRooms.housingTemplateId?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="afaleApp.containsBedRooms.bedroomTemplateId">Bedroom Template Id</span></dt>
                <dd>
                    <div *ngIf="containsBedRooms.bedroomTemplateId">
                        <a [routerLink]="['/bed-room-template', containsBedRooms.bedroomTemplateId?.id, 'view']">{{ containsBedRooms.bedroomTemplateId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contains-bed-rooms', containsBedRooms.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
