<div>
    <h2 id="page-heading">
        <span jhiTranslate="afaleApp.containsBedRooms.home.title">Contains Bed Rooms</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contains-bed-rooms" [routerLink]="['/contains-bed-rooms/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="afaleApp.containsBedRooms.home.createLabel">
            Create a new Contains Bed Rooms
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'afaleApp.containsBedRooms.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="containsBedRooms?.length === 0">
        <span jhiTranslate="afaleApp.containsBedRooms.home.notFound">No containsBedRooms found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="containsBedRooms && containsBedRooms.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.containsBedRooms.nbOfUnit">Nb Of Unit</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.containsBedRooms.housingTemplateId">Housing Template Id</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.containsBedRooms.bedroomTemplateId">Bedroom Template Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let containsBedRooms of containsBedRooms ;trackBy: trackId">
                    <td><a [routerLink]="['/contains-bed-rooms', containsBedRooms.id, 'view']">{{ containsBedRooms.id }}</a></td>
                    <td>{{ containsBedRooms.nbOfUnit }}</td>
                    <td>
                        <div *ngIf="containsBedRooms.housingTemplateId">
                            <a [routerLink]="['/housing-template', containsBedRooms.housingTemplateId?.id, 'view']" >{{ containsBedRooms.housingTemplateId?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="containsBedRooms.bedroomTemplateId">
                            <a [routerLink]="['/bed-room-template', containsBedRooms.bedroomTemplateId?.id, 'view']" >{{ containsBedRooms.bedroomTemplateId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contains-bed-rooms', containsBedRooms.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contains-bed-rooms', containsBedRooms.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(containsBedRooms)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
