@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */
.color {
  background-color: #1a5276;
}
.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
  background-color: rgba(0, 68, 85, 0.6);
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  width: 100%;
  padding: 0.2rem 1rem;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}
