<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="housingTemplate">
            <h2><span jhiTranslate="afaleApp.housingTemplate.detail.title">Housing Template</span> {{ housingTemplate.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="afaleApp.housingTemplate.housingType" [ngbTooltip]="'afaleApp.housingTemplate.help.housingType' | translate">Housing Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'afaleApp.HousingType.' + housingTemplate.housingType }}">{{ housingTemplate.housingType }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.housingTemplate.nbOfUnit" [ngbTooltip]="'afaleApp.housingTemplate.help.nbOfUnit' | translate">Nb Of Unit</span></dt>
                <dd>
                    <span>{{ housingTemplate.nbOfUnit }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.housingTemplate.nbMaxOfOccupants" [ngbTooltip]="'afaleApp.housingTemplate.help.nbMaxOfOccupants' | translate">Nb Max Of Occupants</span></dt>
                <dd>
                    <span>{{ housingTemplate.nbMaxOfOccupants }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.housingTemplate.pricePerNight" [ngbTooltip]="'afaleApp.housingTemplate.help.pricePerNight' | translate">Price Per Night</span></dt>
                <dd>
                    <span>{{ housingTemplate.pricePerNight }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.housingTemplate.isNonSmoking" [ngbTooltip]="'afaleApp.housingTemplate.help.isNonSmoking' | translate">Is Non Smoking</span></dt>
                <dd>
                    <span>{{ housingTemplate.isNonSmoking }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.housingTemplate.hasKitchen" [ngbTooltip]="'afaleApp.housingTemplate.help.hasKitchen' | translate">Has Kitchen</span></dt>
                <dd>
                    <span>{{ housingTemplate.hasKitchen }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.housingTemplate.hasToilets" [ngbTooltip]="'afaleApp.housingTemplate.help.hasToilets' | translate">Has Toilets</span></dt>
                <dd>
                    <span>{{ housingTemplate.hasToilets }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.housingTemplate.establishmentId">Establishment Id</span></dt>
                <dd>
                    <div *ngIf="housingTemplate.establishmentId">
                        <a [routerLink]="['/establishment', housingTemplate.establishmentId?.id, 'view']">{{ housingTemplate.establishmentId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/housing-template', housingTemplate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
