<div>
    <h2 id="page-heading">
        <span jhiTranslate="afaleApp.housingTemplate.home.title">Housing Templates</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-housing-template" [routerLink]="['/housing-template/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="afaleApp.housingTemplate.home.createLabel">
            Create a new Housing Template
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'afaleApp.housingTemplate.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="housingTemplates?.length === 0">
        <span jhiTranslate="afaleApp.housingTemplate.home.notFound">No housingTemplates found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="housingTemplates && housingTemplates.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.housingTemplate.housingType">Housing Type</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.housingTemplate.nbOfUnit">Nb Of Unit</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.housingTemplate.nbMaxOfOccupants">Nb Max Of Occupants</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.housingTemplate.pricePerNight">Price Per Night</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.housingTemplate.isNonSmoking">Is Non Smoking</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.housingTemplate.hasKitchen">Has Kitchen</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.housingTemplate.hasToilets">Has Toilets</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.housingTemplate.establishmentId">Establishment Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let housingTemplate of housingTemplates ;trackBy: trackId">
                    <td><a [routerLink]="['/housing-template', housingTemplate.id, 'view']">{{ housingTemplate.id }}</a></td>
                    <td jhiTranslate="{{ 'afaleApp.HousingType.' + housingTemplate.housingType }}">{{ housingTemplate.housingType }}</td>
                    <td>{{ housingTemplate.nbOfUnit }}</td>
                    <td>{{ housingTemplate.nbMaxOfOccupants }}</td>
                    <td>{{ housingTemplate.pricePerNight }}</td>
                    <td>{{ housingTemplate.isNonSmoking }}</td>
                    <td>{{ housingTemplate.hasKitchen }}</td>
                    <td>{{ housingTemplate.hasToilets }}</td>
                    <td>
                        <div *ngIf="housingTemplate.establishmentId">
                            <a [routerLink]="['/establishment', housingTemplate.establishmentId?.id, 'view']" >{{ housingTemplate.establishmentId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/housing-template', housingTemplate.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/housing-template', housingTemplate.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(housingTemplate)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
