<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-housing-template-heading" jhiTranslate="afaleApp.housingTemplate.home.createOrEditLabel">Create or edit a Housing Template</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.housingTemplate.housingType" for="field_housingType" [ngbTooltip]="'afaleApp.housingTemplate.help.housingType' | translate">Housing Type</label>
                    <select class="form-control" name="housingType" formControlName="housingType" id="field_housingType">
                        <option value="HOTELROOM">{{ 'afaleApp.HousingType.HOTELROOM' | translate }}</option>
                        <option value="BUNGALOW">{{ 'afaleApp.HousingType.BUNGALOW' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('housingType')!.invalid && (editForm.get('housingType')!.dirty || editForm.get('housingType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('housingType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.housingTemplate.nbOfUnit" for="field_nbOfUnit" [ngbTooltip]="'afaleApp.housingTemplate.help.nbOfUnit' | translate">Nb Of Unit</label>
                    <input type="number" class="form-control" name="nbOfUnit" id="field_nbOfUnit"
                           formControlName="nbOfUnit"/>
                    <div *ngIf="editForm.get('nbOfUnit')!.invalid && (editForm.get('nbOfUnit')!.dirty || editForm.get('nbOfUnit')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nbOfUnit')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nbOfUnit')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('nbOfUnit')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.housingTemplate.nbMaxOfOccupants" for="field_nbMaxOfOccupants" [ngbTooltip]="'afaleApp.housingTemplate.help.nbMaxOfOccupants' | translate">Nb Max Of Occupants</label>
                    <input type="number" class="form-control" name="nbMaxOfOccupants" id="field_nbMaxOfOccupants"
                           formControlName="nbMaxOfOccupants"/>
                    <div *ngIf="editForm.get('nbMaxOfOccupants')!.invalid && (editForm.get('nbMaxOfOccupants')!.dirty || editForm.get('nbMaxOfOccupants')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nbMaxOfOccupants')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nbMaxOfOccupants')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('nbMaxOfOccupants')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.housingTemplate.pricePerNight" for="field_pricePerNight" [ngbTooltip]="'afaleApp.housingTemplate.help.pricePerNight' | translate">Price Per Night</label>
                    <input type="number" class="form-control" name="pricePerNight" id="field_pricePerNight"
                           formControlName="pricePerNight"/>
                    <div *ngIf="editForm.get('pricePerNight')!.invalid && (editForm.get('pricePerNight')!.dirty || editForm.get('pricePerNight')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pricePerNight')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('pricePerNight')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.housingTemplate.isNonSmoking" for="field_isNonSmoking" [ngbTooltip]="'afaleApp.housingTemplate.help.isNonSmoking' | translate">Is Non Smoking</label>
                    <input type="checkbox" class="form-control" name="isNonSmoking" id="field_isNonSmoking"
                           formControlName="isNonSmoking"/>
                    <div *ngIf="editForm.get('isNonSmoking')!.invalid && (editForm.get('isNonSmoking')!.dirty || editForm.get('isNonSmoking')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isNonSmoking')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.housingTemplate.hasKitchen" for="field_hasKitchen" [ngbTooltip]="'afaleApp.housingTemplate.help.hasKitchen' | translate">Has Kitchen</label>
                    <input type="checkbox" class="form-control" name="hasKitchen" id="field_hasKitchen"
                           formControlName="hasKitchen"/>
                    <div *ngIf="editForm.get('hasKitchen')!.invalid && (editForm.get('hasKitchen')!.dirty || editForm.get('hasKitchen')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hasKitchen')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.housingTemplate.hasToilets" for="field_hasToilets" [ngbTooltip]="'afaleApp.housingTemplate.help.hasToilets' | translate">Has Toilets</label>
                    <input type="checkbox" class="form-control" name="hasToilets" id="field_hasToilets"
                           formControlName="hasToilets"/>
                    <div *ngIf="editForm.get('hasToilets')!.invalid && (editForm.get('hasToilets')!.dirty || editForm.get('hasToilets')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hasToilets')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.housingTemplate.establishmentId" for="field_establishmentId">Establishment Id</label>
                    <select class="form-control" id="field_establishmentId" name="establishmentId" formControlName="establishmentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="establishmentOption.id === editForm.get('establishmentId')!.value?.id ? editForm.get('establishmentId')!.value : establishmentOption" *ngFor="let establishmentOption of establishments; trackBy: trackById">{{ establishmentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
