/* ==========================================================================
Main page styles
========================================================================== */

h1 {
  font-weight: 300;
  line-height: 1.9;
  font-style: normal;
  font-size: 3.1rem;
  letter-spacing: 0.048em;
  display: block;
  text-align: center;
  justify-content: center;
  margin: 3px;
  width: 100%;
}

.set {
  align-items: flex-start !important;
}
.set h1 {
  text-align: center;
}

/* ==========================================================================
Styles already written
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}
