<router-outlet name="navbar"></router-outlet>


<div [class.set]="isInit" class="filters">

    <h1>Réservez maintenant</h1>
    <jhi-filters (isInit)="isInit=$event"></jhi-filters>
    <!--jhi-filters (isInit)="isInit=$event"></jhi-filters-->

    <div *ngIf="isInit" class="bambi">
        <jhi-establishment-list></jhi-establishment-list>
    </div>
</div>





