<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bedRoomTemplate">
            <h2><span jhiTranslate="afaleApp.bedRoomTemplate.detail.title">Bed Room Template</span> {{ bedRoomTemplate.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="afaleApp.bedRoomTemplate.nbSingleBeds" [ngbTooltip]="'afaleApp.bedRoomTemplate.help.nbSingleBeds' | translate">Nb Single Beds</span></dt>
                <dd>
                    <span>{{ bedRoomTemplate.nbSingleBeds }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.bedRoomTemplate.nbDoubleBeds" [ngbTooltip]="'afaleApp.bedRoomTemplate.help.nbDoubleBeds' | translate">Nb Double Beds</span></dt>
                <dd>
                    <span>{{ bedRoomTemplate.nbDoubleBeds }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bed-room-template', bedRoomTemplate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
