<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bed-room-template-heading" jhiTranslate="afaleApp.bedRoomTemplate.home.createOrEditLabel">Create or edit a Bed Room Template</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.bedRoomTemplate.nbSingleBeds" for="field_nbSingleBeds" [ngbTooltip]="'afaleApp.bedRoomTemplate.help.nbSingleBeds' | translate">Nb Single Beds</label>
                    <input type="number" class="form-control" name="nbSingleBeds" id="field_nbSingleBeds"
                           formControlName="nbSingleBeds"/>
                    <div *ngIf="editForm.get('nbSingleBeds')!.invalid && (editForm.get('nbSingleBeds')!.dirty || editForm.get('nbSingleBeds')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nbSingleBeds')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('nbSingleBeds')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.bedRoomTemplate.nbDoubleBeds" for="field_nbDoubleBeds" [ngbTooltip]="'afaleApp.bedRoomTemplate.help.nbDoubleBeds' | translate">Nb Double Beds</label>
                    <input type="number" class="form-control" name="nbDoubleBeds" id="field_nbDoubleBeds"
                           formControlName="nbDoubleBeds"/>
                    <div *ngIf="editForm.get('nbDoubleBeds')!.invalid && (editForm.get('nbDoubleBeds')!.dirty || editForm.get('nbDoubleBeds')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nbDoubleBeds')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('nbDoubleBeds')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
