<div>
    <h2 id="page-heading">
        <span jhiTranslate="afaleApp.bedRoomTemplate.home.title">Bed Room Templates</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bed-room-template" [routerLink]="['/bed-room-template/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="afaleApp.bedRoomTemplate.home.createLabel">
            Create a new Bed Room Template
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'afaleApp.bedRoomTemplate.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="bedRoomTemplates?.length === 0">
        <span jhiTranslate="afaleApp.bedRoomTemplate.home.notFound">No bedRoomTemplates found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bedRoomTemplates && bedRoomTemplates.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.bedRoomTemplate.nbSingleBeds">Nb Single Beds</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.bedRoomTemplate.nbDoubleBeds">Nb Double Beds</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bedRoomTemplate of bedRoomTemplates ;trackBy: trackId">
                    <td><a [routerLink]="['/bed-room-template', bedRoomTemplate.id, 'view']">{{ bedRoomTemplate.id }}</a></td>
                    <td>{{ bedRoomTemplate.nbSingleBeds }}</td>
                    <td>{{ bedRoomTemplate.nbDoubleBeds }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bed-room-template', bedRoomTemplate.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bed-room-template', bedRoomTemplate.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bedRoomTemplate)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
