.f--fit {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 80% 20%;
}

.required {
  letter-spacing: 0.037em;
  line-height: 28px;
  font-size: 20px;
  display: inline-block;
  grid-column: 1/3;
  grid-row: 1/2;
  margin: auto;
}

input[type='text'] {
  width: 500px;
  height: 35px;
  padding: 4px 13px;
  margin: 8px;
  box-sizing: border-box;
}

input[type='number'] {
  width: 50px;
  margin: 8px;
  text-align: center;
  box-sizing: border-box;
}

input {
  //  background-color: #eaf2f8;
  border-radius: 5px;
}

label {
  padding: 0;
  margin: 0;
}

.field-unique {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}

.field-double {
  display: inline-block;
}

.but {
  grid-column: 2/4;
  grid-row: 2/3;
  justify-content: stretch;
}

button {
  color: #fff;
  background-color: #f8b400;
  border: none;
}

button:hover,
button:focus,
button:active {
  color: #fff;
  background-color: #f39c12;
  border-color: #f8c471;
}

button[disabled] {
  width: 30px;
  background-color: #f8c471;
}

.test {
  /*justify-content: flex-start;
  padding: 0px 10px;*/
}

.test input[type='text'] {
  width: 300px;
}
.test input[type='number'] {
  width: 40px;
}

.test button {
  display: none;
  width: auto;
}

.non-required {
  grid-column: 3/5;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, max-content));
  padding: 5px;
}

.non-required div {
  width: max-content;
  padding-left: 5px;
  padding-right: 5px;
}

.non-required p {
  font-weight: bold;
}

.type-establishment {
  grid-column: 1/2;
}

.type-housingTmplate {
  grid-column: 2/3;
}

.services {
  grid-column: 3/4;
}

.rating {
  grid-column: 4/5;
}

.non-required label {
  color: #7f7f7f;
}
