<div class="f--fit">
    <div class="required -grid-elem" [class.test]="isI">
        <div  class="field-unique">
            <label for="dest">Destination</label>
            <input type="text"
                   id="dest"
                   name="destination"
                   placeholder="Ex: Paris, Ibis Hôtel..."
                   [(ngModel)]="establishmentSelected">
            <button id="localize"
                    type="submit" disabled="disabled"
                    class="btn btn-success" (click)="onSearch()">
                !
            </button>
        </div>
        <div [class.test]="isI" class="field-unique">
            <span class="field-double">
                <label for="start">Date début</label>
                <input type="date"
                       id="start" name="startDate"
                       [ngModel]="start | date:'yyyy-MM-dd'"
                       min="{{today | date:'yyyy-MM-dd'}}" (ngModelChange)="onStartChange($event)"
                       required>
            </span>
            <span class="field-double">
                <label for="end">Date fin</label>
                <input type="date"
                       id="end" name="endDate"
                       [ngModel]="end | date:'yyyy-MM-dd'"
                       min="{{end | date:'yyyy-MM-dd'}}" (ngModelChange)="onEndChange($event)"
                       required>
            </span>
        </div>
        <div [class.test]="isI" class="field-unique">
            <div class="field-double">
                <label for="traveler">Voyageur(s)</label>
                <input type="number" id="traveler" name="nbTravelers" min="1" max="30" [(ngModel)]="nbTraveler">
            </div>
            <div class="field-double">
                <label for="room">Chambre(s)</label>
                <input type="number" id="room" name="nbRoom" min="1" max="{{nbTraveler}}" [(ngModel)]="nbRoom">
            </div>
        </div>

    </div>
    <div *ngIf="isI" class="non-required -grid-elem">
        <div class="type-establishment">
            <p>Catégorie</p>
            <div>
                <input type="checkbox" id="hotel" name="type"
                       disabled>
                <label for="hotel">Hotel</label>
            </div>
            <div>
                <input type="checkbox" id="camping" name="type"
                       disabled>
                <label for="hotel">Camping</label>
            </div>
        </div>
        <div class="type-housingTmplate">
            <p>Hébergement</p>
            <div>
                <input type="checkbox" id="single-bed" name="hous-templ"
                       disabled>
                <label for="single-bed">Lit simple</label>
            </div>
            <div>
                <input type="checkbox" id="double-bed" name="hous-templ"
                       disabled>
                <label for="double-bed">Lit double</label>
            </div>
            <div>
                <input type="checkbox" id="kitchen" name="hous-templ"
                       disabled>
                <label for="kitchen">Cuisine</label>
            </div>
            <div>
                <input type="checkbox" id="bathroom" name="hous-templ"
                       disabled>
                <label for="bathroom">Salle de bain</label>
            </div>
        </div>
        <div class="services">
            <p>Services</p>
            <div>
                <input type="checkbox" id="parking" name="serv"
                       disabled>
                <label for="parking">Parking</label>
            </div>
            <div>
                <input type="checkbox" id="wifi" name="serv"
                       disabled>
                <label for="wifi">Wi-Fi gratuit</label>
            </div>
            <div>
                <input type="checkbox" id="restaurant" name="serv"
                       disabled>
                <label for="restaurant">Restaurant</label>
            </div>
            <div>
                <input type="checkbox" id="swimmingpool" name="serv"
                       disabled>
                <label for="swimmingpool">Piscine</label>
            </div>
        </div>
        <div class="rating">
            <p>Notes</p>
            <div>
                <input type="checkbox" id="five" name="rating"
                       disabled>
                <label for="five">5 étoiles</label>
            </div>
            <div>
                <input type="checkbox" id="four" name="rating"
                       disabled>
                <label for="four">4 étoiles</label>
            </div>
            <div>
                <input type="checkbox" id="three" name="rating"
                       disabled>
                <label for="three">3 étoiles</label>
            </div>
            <div>
                <input type="checkbox" id="two" name="rating"
                       disabled>
                <label for="two">2 étoiles</label>
            </div>
            <div>
                <input type="checkbox" id="one" name="rating"
                       disabled>
                <label for="one">1 étoile</label>
            </div>
        </div>
    </div>
    <div class="field-unique but">
        <button id="search"
                type="submit"
                class="btn"
                (click)="onSearch()">
            Valider
        </button>
    </div>
</div>
