<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="establishment">
            <h2><span jhiTranslate="afaleApp.establishment.detail.title">Establishment</span> {{ establishment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="afaleApp.establishment.name" [ngbTooltip]="'afaleApp.establishment.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{ establishment.name }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.establishment.adress" [ngbTooltip]="'afaleApp.establishment.help.adress' | translate">Adress</span></dt>
                <dd>
                    <span>{{ establishment.adress }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.establishment.latitude" [ngbTooltip]="'afaleApp.establishment.help.latitude' | translate">Latitude</span></dt>
                <dd>
                    <span>{{ establishment.latitude }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.establishment.longitude" [ngbTooltip]="'afaleApp.establishment.help.longitude' | translate">Longitude</span></dt>
                <dd>
                    <span>{{ establishment.longitude }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.establishment.globalRate" [ngbTooltip]="'afaleApp.establishment.help.globalRate' | translate">Global Rate</span></dt>
                <dd>
                    <span>{{ establishment.globalRate }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.establishment.establishmentType" [ngbTooltip]="'afaleApp.establishment.help.establishmentType' | translate">Establishment Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'afaleApp.EstablishmentType.' + establishment.establishmentType }}">{{ establishment.establishmentType }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.establishment.hasParking" [ngbTooltip]="'afaleApp.establishment.help.hasParking' | translate">Has Parking</span></dt>
                <dd>
                    <span>{{ establishment.hasParking }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.establishment.hasRestaurant" [ngbTooltip]="'afaleApp.establishment.help.hasRestaurant' | translate">Has Restaurant</span></dt>
                <dd>
                    <span>{{ establishment.hasRestaurant }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.establishment.hasFreeWifi" [ngbTooltip]="'afaleApp.establishment.help.hasFreeWifi' | translate">Has Free Wifi</span></dt>
                <dd>
                    <span>{{ establishment.hasFreeWifi }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.establishment.hasSwimmingPool" [ngbTooltip]="'afaleApp.establishment.help.hasSwimmingPool' | translate">Has Swimming Pool</span></dt>
                <dd>
                    <span>{{ establishment.hasSwimmingPool }}</span>
                </dd>
                <dt><span jhiTranslate="afaleApp.establishment.description" [ngbTooltip]="'afaleApp.establishment.help.description' | translate">Description</span></dt>
                <dd>
                    <span>{{ establishment.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/establishment', establishment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
