<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-establishment-heading" jhiTranslate="afaleApp.establishment.home.createOrEditLabel">Create or edit a Establishment</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.establishment.name" for="field_name" [ngbTooltip]="'afaleApp.establishment.help.name' | translate">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 150 }">
                        This field cannot be longer than 150 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.establishment.adress" for="field_adress" [ngbTooltip]="'afaleApp.establishment.help.adress' | translate">Adress</label>
                    <input type="text" class="form-control" name="adress" id="field_adress"
                           formControlName="adress"/>
                    <div *ngIf="editForm.get('adress')!.invalid && (editForm.get('adress')!.dirty || editForm.get('adress')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('adress')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('adress')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('adress')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 150 }">
                        This field cannot be longer than 150 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.establishment.latitude" for="field_latitude" [ngbTooltip]="'afaleApp.establishment.help.latitude' | translate">Latitude</label>
                    <input type="number" class="form-control" name="latitude" id="field_latitude"
                           formControlName="latitude"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.establishment.longitude" for="field_longitude" [ngbTooltip]="'afaleApp.establishment.help.longitude' | translate">Longitude</label>
                    <input type="number" class="form-control" name="longitude" id="field_longitude"
                           formControlName="longitude"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.establishment.globalRate" for="field_globalRate" [ngbTooltip]="'afaleApp.establishment.help.globalRate' | translate">Global Rate</label>
                    <input type="number" class="form-control" name="globalRate" id="field_globalRate"
                           formControlName="globalRate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.establishment.establishmentType" for="field_establishmentType" [ngbTooltip]="'afaleApp.establishment.help.establishmentType' | translate">Establishment Type</label>
                    <select class="form-control" name="establishmentType" formControlName="establishmentType" id="field_establishmentType">
                        <option value="HOTEL">{{ 'afaleApp.EstablishmentType.HOTEL' | translate }}</option>
                        <option value="CAMPING">{{ 'afaleApp.EstablishmentType.CAMPING' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('establishmentType')!.invalid && (editForm.get('establishmentType')!.dirty || editForm.get('establishmentType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('establishmentType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.establishment.hasParking" for="field_hasParking" [ngbTooltip]="'afaleApp.establishment.help.hasParking' | translate">Has Parking</label>
                    <input type="checkbox" class="form-control" name="hasParking" id="field_hasParking"
                           formControlName="hasParking"/>
                    <div *ngIf="editForm.get('hasParking')!.invalid && (editForm.get('hasParking')!.dirty || editForm.get('hasParking')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hasParking')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.establishment.hasRestaurant" for="field_hasRestaurant" [ngbTooltip]="'afaleApp.establishment.help.hasRestaurant' | translate">Has Restaurant</label>
                    <input type="checkbox" class="form-control" name="hasRestaurant" id="field_hasRestaurant"
                           formControlName="hasRestaurant"/>
                    <div *ngIf="editForm.get('hasRestaurant')!.invalid && (editForm.get('hasRestaurant')!.dirty || editForm.get('hasRestaurant')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hasRestaurant')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.establishment.hasFreeWifi" for="field_hasFreeWifi" [ngbTooltip]="'afaleApp.establishment.help.hasFreeWifi' | translate">Has Free Wifi</label>
                    <input type="checkbox" class="form-control" name="hasFreeWifi" id="field_hasFreeWifi"
                           formControlName="hasFreeWifi"/>
                    <div *ngIf="editForm.get('hasFreeWifi')!.invalid && (editForm.get('hasFreeWifi')!.dirty || editForm.get('hasFreeWifi')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hasFreeWifi')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.establishment.hasSwimmingPool" for="field_hasSwimmingPool" [ngbTooltip]="'afaleApp.establishment.help.hasSwimmingPool' | translate">Has Swimming Pool</label>
                    <input type="checkbox" class="form-control" name="hasSwimmingPool" id="field_hasSwimmingPool"
                           formControlName="hasSwimmingPool"/>
                    <div *ngIf="editForm.get('hasSwimmingPool')!.invalid && (editForm.get('hasSwimmingPool')!.dirty || editForm.get('hasSwimmingPool')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hasSwimmingPool')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="afaleApp.establishment.description" for="field_description" [ngbTooltip]="'afaleApp.establishment.help.description' | translate">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 300 }">
                        This field cannot be longer than 300 characters.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
