<div>
    <h2 id="page-heading">
        <span jhiTranslate="afaleApp.establishment.home.title">Establishments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-establishment" [routerLink]="['/establishment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="afaleApp.establishment.home.createLabel">
            Create a new Establishment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'afaleApp.establishment.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="establishments?.length === 0">
        <span jhiTranslate="afaleApp.establishment.home.notFound">No establishments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="establishments && establishments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.establishment.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.establishment.adress">Adress</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.establishment.latitude">Latitude</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.establishment.longitude">Longitude</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.establishment.globalRate">Global Rate</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.establishment.establishmentType">Establishment Type</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.establishment.hasParking">Has Parking</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.establishment.hasRestaurant">Has Restaurant</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.establishment.hasFreeWifi">Has Free Wifi</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.establishment.hasSwimmingPool">Has Swimming Pool</span></th>
                    <th scope="col" ><span jhiTranslate="afaleApp.establishment.description">Description</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let establishment of establishments ;trackBy: trackId">
                    <td><a [routerLink]="['/establishment', establishment.id, 'view']">{{ establishment.id }}</a></td>
                    <td>{{ establishment.name }}</td>
                    <td>{{ establishment.adress }}</td>
                    <td>{{ establishment.latitude }}</td>
                    <td>{{ establishment.longitude }}</td>
                    <td>{{ establishment.globalRate }}</td>
                    <td jhiTranslate="{{ 'afaleApp.EstablishmentType.' + establishment.establishmentType }}">{{ establishment.establishmentType }}</td>
                    <td>{{ establishment.hasParking }}</td>
                    <td>{{ establishment.hasRestaurant }}</td>
                    <td>{{ establishment.hasFreeWifi }}</td>
                    <td>{{ establishment.hasSwimmingPool }}</td>
                    <td>{{ establishment.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/establishment', establishment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/establishment', establishment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(establishment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
