<!-- Ce composant affiche les informations importantes d'un établissement résumées-->
<!-- Il appartient à l'espace de comparaison d'établissement -->

<div class="image">
    <img src="/cible_de_Graham.png"
    alt="un hotel" height="75" width="75">
    <div *ngIf="photos !== undefined && photos.length>0">
        <img src="{{this.nginxAddress}}/{{this.photos[1].name}}" alt="Probleme de chargement..." height="100" width="100">
    </div>
    <div class="info" *ngIf="photos == undefined || photos.length==0">Cet établissmeent n'a pas de photo</div>
</div>
<div class="info">
    <div id="name" *ngIf="establishment ">{{ establishment.name }}</div>
    <div id="type" *ngIf="establishment " jhiTranslate="{{ 'afaleApp.EstablishmentType.' + establishment.establishmentType }}"> ( {{ establishment.establishmentType }} )</div>
    <div id="address" *ngIf="establishment ">{{ establishment.adress }}</div>
    <div id="description" *ngIf="establishment " >{{ establishment.description }}</div>
    <div id="services">
        <div class="logo" *ngIf="establishment&& establishment.hasParking">
            <img id="parking">
        </div>
        <div class="logo" *ngIf="establishment&& establishment.hasRestaurant ">
            <img id="restaurant">
        </div>
        <div class="logo" *ngIf="establishment && establishment.hasFreeWifi">
            <a  id="wifi"></a>
        </div>
        <div class="logo " *ngIf="establishment && establishment.hasSwimmingPool">
            <a id="piscine"></a>
        </div>
    </div>
</div>
<div class="more">
    <div id="rate" *ngFor="let number of [1,2,3,4,5]">
        <div>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <div *ngIf="establishment && establishment.globalRate && establishment.globalRate >= number; then checked else unchecked"></div>
            <ng-template #checked><span class="fa fa-star checked"></span></ng-template>
            <ng-template #unchecked><span class="fa fa-star"></span></ng-template>
        </div>
    </div>
    <div id="price">A partir de {{this.minPrice}} €</div>
</div>
