.image {
  //display: inline-block;
  padding: 3px;
  //width: 20%;
  justify-content: stretch;
  align-content: stretch;
  //height: 100%;
  //float: left;
}

img {
  width: 100%;
  height: 100%;
  //border: 1px solid black;
}

.info {
  display: inline-block;
  padding: 3px;
  height: 100%;
  max-width: 25vw;
}

#address,
#description,
#services {
  display: block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

#description {
  padding: 10px;
  grid-column: 1/2;
  word-wrap: break-word;
  hyphens: auto;
}

.logo {
  display: inline-block;
  padding: 3px;
}

#rate {
  display: inline;
}
#price {
  grid-column: 1/6;
}

.more {
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.logo {
  width: 30px;
  height: 30px;
}

div {
  margin: 3px;
}

#name {
  font-size: 25px;
  line-height: 44px;
  font-weight: 400;
}

.checked {
  color: orange;
}

#rate {
  display: inline-block;
}
#restaurant,
#cuisine,
#lit1,
#lit2,
#fumeur,
#wifi,
#parking,
#wc,
#piscine,
#nonfumeur {
  width: 30px;
  height: 30px;
  display: block;
}

#restaurant {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: 0px 0px;
}

#lit1 {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -30px 0px;
}

#lit2 {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -60px 0px;
}

#fumeur {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -90px 0px;
}

#nonfumeur {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -120px 0px;
}

#wc {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -150px 0px;
}

#cuisine {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -180px 0px;
}

#piscine {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -210px 0px;
}

#wifi {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -240px 0px;
}

#parking {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -270px 0px;
}
