<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="manage">
            <h2><span jhiTranslate="afaleApp.manage.detail.title">Manage</span> {{ manage.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="afaleApp.manage.userId">User Id</span></dt>
                <dd>
                    {{ manage.userId?.id }}
                </dd>
                <dt><span jhiTranslate="afaleApp.manage.establishmentId">Establishment Id</span></dt>
                <dd>
                    <div *ngIf="manage.establishmentId">
                        <a [routerLink]="['/establishment', manage.establishmentId?.id, 'view']">{{ manage.establishmentId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/manage', manage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
