<!-- Ce composant affiche toutes les infos d'un établissements en détail -->
<!-- Il appartient à l'espace de sélection d'un établissement -->

<div class="tot" *ngIf="establishment">

    <div class="main-info">
        <h1 *ngIf="establishment.name">{{ establishment.name }}</h1>
    </div>


    <div class="aa">
        <div class="photo" *ngIf="photos && photos.length>0">
            <img *ngFor="let photo of photos" src="{{this.nginxAddress}}/{{photo.name}}" height="200" width="200">
        </div>
        <div *ngIf="photos == undefined || photos.length==0" >
            no photo available
        </div>
    </div>

    <div class="more-info">
        <div class="description">
            <h2>A propos</h2>
            <p style="overflow-wrap: break-word;word-wrap: break-word;hyphens: auto; padding: 10px">{{ establishment.description }}</p>
            <div class="logo">
                <span *ngIf="establishment&& establishment.hasParking"><a id="parking"></a></span>
                <span *ngIf="establishment&& establishment.hasRestaurant "><a id="restaurant"></a></span>
                <span *ngIf="establishment && establishment.hasFreeWifi"><a id="wifi"></a></span>
                <span *ngIf="establishment && establishment.hasSwimmingPool"><a id="piscine"></a></span>
            </div>
        </div>
        <div class="more">
            <div class="contact">
                <h2>Contact</h2>
                <ul>
                    <li *ngIf="manager && manager.userId && manager.userId.email"><a href="mailto:{{ manager.userId.email }}">{{manager.userId.email}}</a></li>
                </ul>
            </div>
            <div class="acces">
                <h2>Accès</h2>
                <p>{{ establishment.adress }}</p>
            </div>
        </div>
    </div>

</div>

