<!-- Nouvelle page : une fois un établissement sélectionné -->
<!-- Ce composant affiche les filtres, les infos de l'établissement & tous les logements disponibles en une liste -->
<!-- Il appartient à l'espace de comparaison d'établissement -->

<nav>
    <ul>
        <li class="homepage"><a routerLink="/">Etablissements > </a></li>
        <li *ngIf="establishment" class="homepage"><a routerLink="/viewSelectedEstablishment/{{establishment.id}}"> {{ establishment.name }}</a></li>
    </ul>
</nav>

<jhi-filters class="filters not-allowed"></jhi-filters>
<hr>
<jhi-view-selected-establishment-infos class="full-info" [establishment]="establishment"></jhi-view-selected-establishment-infos>
<div *ngIf="selectedEstablishmentService.isRefused"> La réservation que vous avez essayé de faire n'est pas valide, veuillez réessayer</div>
<div *ngIf="selectedEstablishmentService.housingTemplateList && selectedEstablishmentService.housingTemplateList.length > 0;else NoHousingTemplate">
        <div id="entities">
            <h2>Logement(s) disponible(s)</h2>
            <jhi-single-housing-template *ngFor="let singleHousingTemplate of selectedEstablishmentService.housingTemplateList;let i = index"
            [housingTemplate]="singleHousingTemplate"
            [index]="i">
            </jhi-single-housing-template>
        </div>
</div>
<ng-template #NoHousingTemplate >
    <div *ngIf="establishment">
    Aucun logement n'est disponible
    (establishment id : {{establishment.id}} )
    </div>
</ng-template>
<div id="validate-button"><p> Prix Total : {{selectedEstablishmentService.totalPrice}}</p>
    <button (click)="registerBooking()" > Valider</button>
</div>

