* {
  direction: ltr;
}

.filters {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-info {
  background-color: #faf5e4;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #2d2d2d;
  width: 100%;
}

ul {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

nav li {
  margin: 3px;
  float: left;
}

a {
  font-weight: lighter;
  color: #2d2d2d;
}

.tot {
  /*margin: 10px;
  padding: 10px;
  overflow: hidden;*/
}

.main-info {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

#description > p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.type-geol {
  font-style: italic;
}

#type {
  text-transform: capitalize;
}

#rate {
  //float: right;

  margin: 10px;
}

.photo {
  height: 90%;
  margin: 4px;
  padding: 2px;
  border: 1px solid black;
  display: inline-block;
}

.aa {
  display: flex;
  width: 100%;
  height: max-content;
  padding: 5px;
  justify-content: center;
}

.logo {
  width: 20px;
  display: inline;
  font-style: italic;
}

li {
  list-style-type: none;
}

.more {
  //width: 30%;
}

.more-info {
  //margin: 10px;
  //padding: 10px;
  width: 75vw;
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: space-between;
}

h2 {
  font-size: 1.8rem;
  padding: 0px;
}

tr:nth-child(even) {
  background-color: #a2d9ce;
}

tr:nth-child(odd) {
  background-color: #e8f6f3;
}

tr {
  //border-style: solid;
  border-width: 1px;
  padding: 10px;
  display: block;
  height: 200px;
  position: static;
}

table {
  padding: 10px;
  display: block;
}

caption {
  color: #faf5e4;
  font-size: 31px;
  font-weight: 600;
  line-height: 35px;
}

jhi-establishment-list-element {
  width: 100%;
  height: 100%;
  display: block;
}

jhi-view-selected-establishment {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

/*.panier {
  background-color: #42a948;
  height: 200px;
  width: 200px;
  position: relative;
  bottom: 0px;
  right: 0px;
}*/

#restaurant,
#cuisine,
#lit1,
#lit2,
#fumeur,
#wifi,
#parking,
#wc,
#piscine,
#nonfumeur {
  width: 30px;
  height: 30px;
  display: inline-block;
}

#restaurant {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: 0px 0px;
}

#lit1 {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -30px 0px;
}

#lit2 {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -60px 0px;
}

#fumeur {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -90px 0px;
}

#nonfumeur {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -120px 0px;
}

#wc {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -150px 0px;
}

#cuisine {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -180px 0px;
}

#piscine {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -210px 0px;
}

#wifi {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -240px 0px;
}

#parking {
  background-image: url('http://89.3.69.138:8085/sprite.png');
  background-position: -270px 0px;
}
#validate-button {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
